.component-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chart {
  top: 0;
  height: 346px;
}

.chart-parent {
  position: absolute;
  top: 226px;
  left: 226px;
  width: 834px;
  height: 345px;
}

.calendar-1-01-1-parent {
  position: absolute;
  top: 146px;
  left: 650px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 17px;
}

.dashboard-expand-inner {
  position: absolute;
  top: 90px;
  left: 206px;
  width: 874px;
  height: 562px;
}

.dashboard-expand-child {
  position: absolute;
  top: 672px;
  left: 202px;
  width: 878px;
  height: 194px;
}

.icon-square {
  position: relative;
  border-radius: 38.42px;
  width: 63.28px;
  height: 63.28px;
  overflow: hidden;
  flex-shrink: 0;
}

.positive-cases {
  font-weight: 600;
}

.b,
.div,
.positive-cases {
  position: relative;
}

.div {
  font-size: 11px;
  font-weight: 600;
}

.iconnumber,
.parent,
.positive-cases-parent {
  display: flex;
  justify-content: flex-start;
  gap: 9.04px;
}

.parent {
  flex-direction: row;
  align-items: center;
  font-size: 20.34px;
}

.iconnumber,
.positive-cases-parent {
  flex-direction: column;
  align-items: flex-start;
}

.iconnumber {
  flex-direction: row;
  align-items: center;
  padding: 0 27.119464874267578px;
  gap: 18.08px;
}

.icon-square1 {
  position: relative;
  border-radius: 58.83px;
  width: 63.28px;
  height: 63.28px;
  overflow: hidden;
  flex-shrink: 0;
}

.frame-parent,
.iconnumber-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.iconnumber-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 54.24px;
}

.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: 27.12px;
}

.frame-div,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.frame-wrapper {
  width: 917px;
  height: 153.07px;
  align-items: center;
}

.frame-div {
  position: absolute;
  top: 697px;
  left: 183px;
  align-items: flex-start;
  font-size: 15.82px;
}

.icon-square6 {
  position: relative;
  border-radius: 63.36px;
  width: 60.36px;
  height: 60.36px;
  overflow: hidden;
  flex-shrink: 0;
}

.b6 {
  position: relative;
  font-size: 17.67px;
}

.iconnumber6,
.total-contacts-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.89px;
}

.iconnumber6 {
  position: absolute;
  top: calc(50% - 31.21px);
  left: 11.78px;
  flex-direction: row;
  align-items: center;
  gap: 11.78px;
}

.iconnumber-wrapper {
  position: absolute;
  top: 102px;
  left: 216px;
  width: 226px;
  height: 100.12px;
  font-size: 10.31px;
}

.component-111-icon {
  position: absolute;
  top: 115px;
  left: 155px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon24pxclock,
.text {
  position: absolute;
  top: calc(50% - 9.5px);
}

.icon24pxclock {
  left: 14px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.text {
  left: 44px;
  line-height: 20px;
}

.sidebar-itembigselected {
  align-self: stretch;
  position: relative;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  color: #0090e2;
}

.sidebar.collapsed {
  display: none;
}

.clock-icon {
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;
  width: 24px;
  height: 24px;
}

.arrowlineright2-icon,
.text1 {
  position: absolute;
  top: calc(50% - 10px);
}

.text1 {
  left: 44px;
  line-height: 20px;
}

.arrowlineright2-icon {
  right: 12px;
  width: 20px;
  height: 20px;
  display: none;
}

.sidebar-itembigdefault,
.sidebar-itembigdefault3 {
  position: relative;
  border-radius: 8px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}

.sidebar-itembigdefault {
  align-self: stretch;
}

.sidebar-itembigdefault3 {
  width: 154px;
}

.icon24pxsettings {
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.sidebar-1 {
  position: absolute;
  width: calc(100% - 20px);
  top: 15px;
  right: 10px;
  left: 10px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar-itembigdefault11,
.sidebar-itembigdefault12 {
  position: absolute;
  top: 840px;
  left: 10px;
  border-radius: 8px;
  width: 166px;
  height: 48px;
  overflow: hidden;
}

.sidebar-itembigdefault12 {
  top: 800px;
}

.sidebar {
  position: absolute;
  top: 90px;
  left: 0;
  border-radius: 0 30px 0 0;
  background: linear-gradient(180deg, #9ed000, #308700);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 162px;
  height: 968px;
}

.sidebar {
  transition: width 0.3s ease;
}

.collapsed .sidebar {
  width: 65px;
}

.collapsed .text1 {
  display: none;
}

.muiten {
  position: absolute;
  top: 106px;
  left: 146px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: rotate(180deg);
}

.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 24px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 776px;
}

infomation {
  position: absolute;
}

.div,
.div1,
.robertwarrengmailcom {
  position: absolute;
  top: 305px;
  left: 56px;
}

.div,
.div1 {
  top: 350px;
}

.div1 {
  top: 394px;
  white-space: pre-wrap;
}

.group-icon,
.group-icon1,
.group-icon2,
.vector-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 3.59%;
  width: 5.88%;
  top: 50.20%;
  right: 85.49%;
  bottom: 32.68%;
  left: 8.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.group-icon,
.group-icon1,
.group-icon2,
.vector-icon1,
.vector-icon2 {
  top: 44.7%;
  bottom: 39.71%;
}

.group-icon,
.group-icon1,
.group-icon2,
.vector-icon2 {
  top: 38.67%;
  bottom: 46.73%;
}

.group-icon,
.group-icon1,
.group-icon2 {
  height: 0.24%;
  width: 1.8%;
  top: 52.80%;
  right: 87.54%;
  bottom: 33.41%;
  left: 10.66%;
}

.group-icon1,
.group-icon2 {
  top: 47.32%;
  bottom: 40.43%;
}

.group-icon2 {
  top: 41.3%;
  bottom: 47.46%;
}

.hello-robert-parent {
  position: absolute;
  width: 330px;
}

.vector-smart-object2-01 {
  position: absolute;
  top: 318px;
  left: 72.36px;
  width: 19.09px;
  height: 15px;
  overflow: hidden;
}

.avatar {
  position: absolute;
  top: 76px;
  left: 80px;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.robert-warren {
  position: absolute;
  top: 234px;
  left: 94px;
  font-size: 18px;
  font-weight: 600;
}

.golf-manager {
  position: absolute;
  top: 256px;
  left: 118px;
  font-size: 12px;
}

.icons {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}

.frame-parent {
  align-self: stretch;
  gap: 8px;
  font-size: 14px;
}

.calendar {
  position: absolute;
  top: 436px;
  left: 7px;
  border-radius: 8px;
  overflow: hidden;
  padding: 24px;
  gap: 22px;
  font-size: 16px;
}

.group-child {
  position: absolute;
  top: 435px;
  left: 22px;
  width: 275.94px;
  height: 1.33px;
  object-fit: contain;
}

.instance-parent {
  position: absolute;
  top: 90px;
  left: 1120px;
  width: 320px;
  height: 776px;
  text-align: center;
  font-size: 11px;
}

.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 898px;
  height: 776px;
}

.account-settings,
.notifications,
.profile-settings {
  position: absolute;
  top: 19px;
  left: 20px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
}

.account-settings,
.notifications {
  top: 390px;
}

.notifications {
  top: 521px;
}

.receive-push-notifications {
  position: absolute;
  top: 576px;
  left: 22.67px;
}

.instance-group,
.send-email-notifications {
  position: absolute;
  top: 619px;
  left: 22.67px;
}

.instance-group {
  top: 90px;
  left: 199px;
  width: 899px;
  height: 777px;
}

.account-setting-child,
.account-setting-item {
  position: absolute;
  top: 665.07px;
  left: 202px;
  border: 1.5px solid black;
  box-sizing: border-box;
  width: 15.33px;
  height: 15.33px;
}

.account-setting-item {
  top: 711.07px;
}

.menu-header {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  max-width: 1440px;
  min-width: 1440px;
}

.account-setting {
  color: black;
}

.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  min-width: 1440px;
  height: 70px;
}
