<div class="min-h-screen flex items-center justify-center" style="background-color: #f4f4f4">
  <div class="container">
    <div class=" grid-cols-2 gap-2 flex">
      <div class="col1 col-span-1">
        <div class="w-32 p-6 text-white text-4xl font-semibold">GMS</div>
        <div class="w-32 px-6 text-white text-4xl font-bold">
          <div>GOLF</div>
          <div>MANAGEMENT</div>
          <div>SYSTEM</div>
        </div>
      </div>
      <div class="col2 col-span-2 flex">
        <form class="self-center justify-center w-full mt-32 ml-28">
          <div class="md:flex md:items-center mb-16">
            <div class="field">
              <div class="field-child"></div>
              <div class="text-wrapper">
                <div class="text">
                  <div>Username</div>
                </div>
                <input class="form-input bg-transparent p-1.5 w-96" style="border: 0 solid #e5e7eb" type="text">
              </div>
              <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
            </div>
          </div>
          <div class="flex md:items-center">
            <div class="field">
              <div class="field-child"></div>
              <div class="text-wrapper">
                <div class="text">
                  <div>Password</div>
                </div>
                <input class="form-input bg-transparent p-1.5 w-96" style="border: 0 solid #e5e7eb" type="password">
              </div>
              <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
            </div>
          </div>
          <div class="flex md:items-center mt-16">
            <div></div>
            <div class="">
              <div class="flex">
                <input class="mr-4" type="checkbox">
                <label> Keep me logged in </label>
              </div>
            </div>
          </div>
          <div class="md:flex md:items-center justify-center">
            <div></div>
            <div style="text-align: -webkit-center" class="mt-6">
              <button class="login text-xl text-white font-semibold py-2 ">LOGIN</button>
              <p class="mt-48">EasyGolf Software v.1.2.8</p>
            </div>
          </div>
        </form>
        <div class="w-44 flex pt-5">
          <div class="">English (UK)</div>
          <span class="mt-1 ml-3" nz-icon nzType="caret-down" nzTheme="outline"></span>
        </div>
      </div>
    </div>
  </div>
</div>
