<!--<div class="min-h-screen flex-grow bg-slate-50 dark:bg-navy-900">-->
<!--  <main class="grid w-full grid-cols-1 place-items-center">-->
<!--    <div class="signup">-->
<!--      <div class="rectangle-parent">-->
<!--        <div class="group-child"></div>-->
<!--        <div class="group-wrapper">-->
<!--          <div class="rectangle-wrapper">-->
<!--            <div class="group-item"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="title">-->
<!--          <span>-->
<!--            <p class="mb-6">GOLF</p>-->
<!--            <p class="mb-6">MANAGEMENT</p>-->
<!--            <p>SYSTEM</p>-->
<!--          </span>-->
<!--        </div>-->
<!--        <b class="gms font-bold text-5xl mt-5 ml-8">GMS</b>-->
<!--        <div class="flex english-uk">-->
<!--          <div>English (UK)</div>-->
<!--          <span class="self-center ml-1.5" nz-icon nzType="caret-down" nzTheme="outline"></span>-->
<!--        </div>-->
<!--        <div class="version">EasyGolf Software v.1.2.8</div>-->
<!--        <div class="login">-->
<!--          <div class="field">-->
<!--            <div class="field-child"></div>-->
<!--            <div class="text-wrapper">-->
<!--              <div class="text">-->
<!--                <div>Username</div>-->
<!--              </div>-->
<!--              <input class="form-input bg-transparent p-1.5 w-96" style="border: 0 solid #e5e7eb"  type="text">-->
<!--            </div>-->
<!--            <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>-->
<!--          </div>-->
<!--          <div class="field1">-->
<!--            <div class="field-child"></div>-->
<!--            <div class="text-wrapper">-->
<!--              <div class="text">-->
<!--                <div>Password</div>-->
<!--              </div>-->
<!--              <input class="form-input bg-transparent p-1.5 w-96" style="border: 0 solid #e5e7eb" type="password">-->
<!--            </div>-->
<!--            <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>-->
<!--          </div>-->
<!--          <img class="eye-icon" alt="" src="./assets/icon/eye.svg"/>-->
<!--        </div>-->
<!--        <div class="privacy flex">-->
<!--          <label class="mt-px" nz-checkbox></label>-->
<!--          <div class="ml-4 ">Keep me logged in</div>-->
<!--        </div>-->
<!--        <button class="button-wrapper button">-->
<!--            <span class="text-button">LOGIN</span>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </main>-->
<!--</div>-->
<!--<div class="container mx-auto">-->
<!--  <h1 class="text-4xl font-bold text-center mb-10">EasyGolf Management System</h1>-->
<!--  <form class="w-full max-w-sm mx-auto">-->
<!--    <div class="md:flex md:items-center mb-6">-->
<!--      <div class="md:w-1/3">-->
<!--        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="username">-->
<!--          Username-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="md:w-2/3">-->
<!--        <input-->
<!--          class="appearance-none border-2 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"-->
<!--          id="username" type="text">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="md:flex md:items-center mb-6">-->
<!--      <div class="md:w-1/3">-->
<!--        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="password">-->
<!--          Password-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="md:w-2/3">-->
<!--        <input-->
<!--          class="appearance-none border-2 rounded w-full py-2 px-4 text-gray-700 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"-->
<!--          id="password" type="password">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="md:flex md:items-center mb-6">-->
<!--      <div class="md:w-1/3"></div>-->
<!--      <div class="md:w-2/3">-->
<!--        <div class="flex items-center">-->
<!--          <input class="mr-2" type="checkbox">-->
<!--          <label class="text-gray-500">-->
<!--            Keep me logged in-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="md:flex md:items-center">-->
<!--      <div class="md:w-1/3"></div>-->
<!--      <div class="md:w-2/3">-->
<!--        <button style="background-color: #58B000"-->
<!--                class="shadow hover:bg-green-400 text-white font-bold py-2 px-4 rounded" type="button">-->
<!--          LOGIN-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
<div class="min-h-screen flex items-center justify-center">
<div class="container">
    <div class=" grid-cols-2 gap-2 flex">
      <div class="col1 col-span-1"></div>
      <div class="col2 col-span-2 flex ">
          <form class="login self-center justify-center">
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3">
                <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"> Username </label>
              </div>
              <div class="md:w-2/3">
                <input class="appearance-none border-2 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" type="text">
              </div>
            </div>
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3">
                <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"> Password </label>
              </div>
              <div class="md:w-2/3">
                <input class="appearance-none border-2 rounded w-full py-2 px-4 text-gray-700 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" type="password">
              </div>
            </div>
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3"></div>
              <div class="md:w-2/3">
                <div class="flex items-center">
                  <input class="mr-2" type="checkbox">
                  <label class="text-gray-500"> Keep me logged in </label>
                </div>
              </div>
            </div>
            <div class="md:flex md:items-center">
              <div class="md:w-1/3"></div>
              <div class="md:w-2/3">
                <button style="background-color: #58B000" class="text-white font-bold py-2"></button>
              </div>
            </div>
          </form>
          <div class="float-left ml-auto">English</div>
      </div>
    </div>
</div>
</div>
