.field-child {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 19.42%;
  right: 0;
  bottom: 0.58%;
  left: 0;
  border: 0.5px solid #000;
  box-sizing: border-box;
}
.text,
.text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  background-color: #fff;
  height: 17px;
  flex-direction: row;
  padding:1px 8px 8px 7px;
  box-sizing: border-box;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text-wrapper {
  position: absolute;
  flex-direction: column;
  padding: 0 8px;
}
.button-icon {
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  border-radius: 8px;
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.field {
  position: absolute;
  width: 455px;
  height: 56px;
  font-size: 18px;
}

.container {
  background-color: #fff;
  border-radius: 26px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 962px;
  color: black;
}

.col1 {
  border-radius: 26px;
  background: linear-gradient(180deg, #9ED000 0%, #308700 100%);
  box-shadow: 0px 0px 10px 9px rgba(186, 186, 186, 0.25);
  min-width: 658px;
  height: 658px;

}

.col2 {
  border-radius: 26px;
  background: white;
  box-shadow: 0px 0px 10px 9px rgba(186, 186, 186, 0.25);
  min-width: 676.568px;
  height: 658px;
  margin-left: -302px;
}

.login{
  display: flex;
  width: 210.262px;
  height: 40px;
  padding: 11.961px 84.811px;
  justify-content: center;
  align-items: center;
  gap: 10.873px;
  flex-shrink: 0;
  border-radius: 8px;
  background:  #58B000;
}
