<div class="min-h-screen flex-grow bg-slate-50 dark:bg-navy-900">
  <main class="grid w-full grid-cols-1 place-items-center">
    <div class="signup">
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="group-wrapper">
          <div class="rectangle-wrapper">
            <div class="group-item"></div>
          </div>
        </div>
        <div class="title">
          <span>
            <p class="golf">GOLF</p>
            <p class="golf">MANAGEMENT</p>
            <p class="golf">SYSTEM</p>
          </span>
        </div>
        <b class="gms">GMS</b>
        <div class="flex english-uk">
          <div>English (UK)</div>
          <span class="self-center ml-1.5" nz-icon nzType="caret-down" nzTheme="outline"></span>
        </div>
        <div class="version">EasyGolf Software v.1.2.8</div>
        <div class="login">
          <div class="field">
            <div class="field-child"></div>
            <div class="text-wrapper">
              <div class="text">
                <div>Username</div>
              </div>
              <input class="form-input bg-transparent p-1.5 w-96" style="border: 0 solid #e5e7eb"  type="text">
            </div>
            <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
          </div>
          <div class="field1">
            <div class="field-child"></div>
            <div class="text-wrapper">
              <div class="text">
                <div>Password</div>
              </div>
              <input class="bg-transparent p-1.5 w-96" style="border: 0 solid #e5e7eb" nz-input nzBorderless type="password">
            </div>
            <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
          </div>
          <img class="eye-icon" alt="" src="./assets/icon/eye.svg"/>
        </div>
        <div class="privacy flex">
          <label class="mt-px" nz-checkbox></label>
          <div class="ml-4 ">Keep me logged in</div>
        </div>
        <button class="button-wrapper button">
            <span class="text-button">LOGIN</span>
        </button>
      </div>
    </div>
  </main>
</div>
