<div class="w-full min-h-screen	" style="background-color: #f4f4f4">
  <!--<div-->
  <!--    class="menu-header header-container items-center justify-between relative flex w-full bg-white dark:bg-navy-750 print:hidden">-->
  <!--    <img style="width: 149px; height: 37px" class="flex mr-8" alt="" src="./assets/icon/logo01-1@2x.png"/>-->
  <!--    <div class="mr-10 text-black font-semibold	">Reception</div>-->
  <!--    <div class="mr-10 text-black font-semibold	" id="menuText1">Caddy</div>-->
  <!--    <div class="mr-10 text-black font-semibold	">Golf Operation</div>-->
  <!--    <div class="mr-10 text-black font-semibold	">Management</div>-->
  <!--    <nz-divider class="vertical" nzType="vertical"></nz-divider>-->
  <!--    <img class="flex w-8" alt="" src="./assets/icon/dotsthreevertical@2x.png"/>-->
  <!--    <div class="px-1.5 flex">-->
  <!--      <span>Monday, </span>-->
  <!--      <span class="mr-1 text-black font-semibold">19 August 2022 </span>-->
  <!--      <span> | 09:30:12 AM | </span>-->
  <!--      <img class="w-4 h-4 self-center mx-1" alt="" src="./assets/icon/heavyrainy-1@2x.png"/>-->
  <!--      <span class="mr-1">24°C |</span>-->
  <!--      <span>Hello </span>-->
  <!--      <span class="text-sky-500">Robert!</span>-->
  <!--    </div>-->
  <!--    <img class="w-6	h-6 mr-1.5" src="./assets/icon/Frame 27.png" alt=""/>-->
  <!--    <div style="border: 0.7px solid #0090e2;" class="flex rounded-lg">-->
  <!--      <div class="mx-2.5 flex">-->
  <!--        <div class="p-1.5 text-sky-600">WestLakes Golf & Villas</div>-->
  <!--        <img class="w-4 h-4 self-center" alt="" src="./assets/icon/icon&#45;&#45;outlined&#45;&#45;directions&#45;&#45;chevron&#45;&#45;left@2x.png"/>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-9 bg-white my-5 ml-5 mr-5 lg:ml-5 shadow-md p-5 lg:mx-0 rounded-3xl">
      <div class="font-semibold text-gray-800 text-xl">Profile Settings</div>
      <div class="mt-3">Dashboard / Account Setting</div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 mt-6 text-black">
        <div class="relative">
          <label class="block text-gray-700 ml-2 bg-white px-2" style="position: absolute; top: -10px;">First
            Name</label>
          <input type="text"
                 class="appearance-none border border-gray-900 w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline text-black text-sm">
        </div>
        <div class="relative">
          <label class="block text-gray-700 ml-2 bg-white px-2" style="position: absolute; top: -10px;">Last
            Name</label>
          <input type="text"
                 class="appearance-none border border-gray-900 w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline text-black text-sm">
        </div>
        <div class="relative">
          <label class="block text-gray-700 ml-2 bg-white px-2" style="position: absolute; top: -10px;">Email</label>
          <input type="text"
                 class="appearance-none border border-gray-900 w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline text-black text-sm">
        </div>
        <div class="relative">
          <label class="block text-gray-700 ml-2 bg-white px-2" style="position: absolute; top: -10px;">Gender</label>
          <input type="text"
                 class="appearance-none border border-gray-900 w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline text-black text-sm">
        </div>
        <div class="relative">
          <label class="block text-gray-700 ml-2 bg-white px-2" style="position: absolute; top: -10px;">Phone</label>
          <input type="text"
                 class="appearance-none border border-gray-900 w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline text-black text-sm">
        </div>
        <div class="relative">
          <label class="block text-gray-700 ml-2 bg-white px-2" style="position: absolute; top: -10px;">Birthday</label>
          <input type="text"
                 class="appearance-none border border-gray-900 w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline text-black text-sm">
        </div>
        <div class="relative">
          <label class="block text-gray-700 ml-2 bg-white px-2"
                 style="position: absolute; top: -10px;">Department</label>
          <input type="text"
                 class="appearance-none border border-gray-900 w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline text-black text-sm">
        </div>
        <div class="relative">
          <label class="block text-gray-700 ml-2 bg-white px-2" style="position: absolute; top: -10px;">Address</label>
          <input type="text"
                 class="appearance-none border border-gray-900 w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline text-black text-sm">
        </div>
      </div>
      <div class="font-semibold text-gray-800 text-xl mt-5">Account Settings</div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mt-6">
        <div class="relative">
          <label class="block text-gray-700 ml-2 bg-white px-2" style="position: absolute; top: -10px;">Default
            Language</label>
          <input type="text"
                 class="appearance-none border border-gray-900 w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline text-black text-sm">
        </div>
        <div class="relative">
          <label class="block text-gray-700 ml-2 bg-white px-2" style="position: absolute; top: -10px;">Default
            Currency</label>
          <input type="text"
                 class="appearance-none border border-gray-900 w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline text-black text-sm">
        </div>
      </div>
      <div class="mt-6 text-gray-800 text-xl font-semibold">Notification</div>
      <div class="flex"><label class="mt-5 mr-3" nz-checkbox></label>
        <div class="text-gray-800 self-center mt-5">Receive push notifications</div>
      </div>
      <div class="flex"><label class="mr-3 mt-5" nz-checkbox></label>
        <div class="text-gray-800 self-center mt-5">Send email notifications</div>
      </div>
      <div class="flex justify-center items-center mt-3.5">
        <button class="btn py-1.5 font-medium text-sm rounded-sm bg-green-500 hover:bg-green-400 text-white ">
          Save
        </button>
        <button class="btn py-1.5 bg-gray-300 font-medium text-sm text-black hover:bg-gray-200 ml-3.5">Cancel</button>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-3 h-screen bg-white my-5 mr-5 ml-5 lg:mr-5 shadow-md p-5 rounded-3xl">
      <div class="flex items-center space-y-0 px-4 py-2 flex-row justify-between sm:space-y-0 sm:px-5">
        <div class="text-2xl font-semibold text-black">Hello Robert!</div>
        <button nz-button class="text-xl h-8 w-8 cursor-pointer" nzPlacement="bottomRight" nzTrigger="click"
                nz-dropdown
                [nzDropdownMenu]="menu">
          <span nz-icon nzType="more" nzTheme="outline"></span>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>Edit</li>
            <li nz-menu-item>Upload Avatar</li>
            <li nz-menu-item>Change Password</li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="flex justify-center mt-5">
        <nz-avatar [nzSize]="120" nzIcon="user"></nz-avatar>
      </div>
      <div class="flex flex-col justify-center items-center mt-5 text-black">
        <div class="font-semibold text-xl">Robert Warren</div>
        <div>Golf Manager</div>
      </div>
      <div class="mt-8 ml-10 text-black">
        <div class="flex mb-6">
          <app-svg-icon class="w-5 mr-2" [icon]="'Group'"
                        [svgStyle]="{width: '1rem'}"></app-svg-icon>
          <div>robertwarren@gmail.com</div>
        </div>
        <div class="flex mb-6">
          <app-svg-icon class="w-5 mr-2" [icon]="'Group'"
                        [svgStyle]="{width: '1rem'}"></app-svg-icon>
          <div>+84 0123 456789</div>
        </div>
        <div class="flex">
          <app-svg-icon class="w-5 mr-2" [icon]="'Group'"
                        [svgStyle]="{width: '1rem'}"></app-svg-icon>
          <div>24/08/2022  </div>
        </div>
      </div>
      <div class="border-gray mt-5"></div>
      <div class="flex justify-center">
        <nz-date-picker [nzBackdrop]="false" [nzSize]="'small'" nzInline></nz-date-picker>
      </div>
    </div>
  </div>
</div>
