<div class="account-setting overflow-auto">
  <nz-sider>
  <div class="sidebar">
      <div class="sidebar-1">
        <div class="sidebar-itembigselected">
          <img class="icon24pxclock" alt="" src="./assets/icon/clock.svg"/>
          <div class="text">Dashboard</div>
        </div>
        <div class="sidebar-itembigdefault">
          <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

          <div class="text1">Reservation</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
        <div class="sidebar-itembigdefault">
          <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

          <div class="text1">Will Checkin</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
        <div class="sidebar-itembigdefault">
          <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

          <div class="text1">Driving Range</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
        <div class="sidebar-itembigdefault3">
          <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

          <div class="text1">List Golfer</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
        <div class="sidebar-itembigdefault">
          <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

          <div class="text1">Daily Golfer</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
        <div class="sidebar-itembigdefault">
          <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

          <div class="text1">Merge Group</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
        <div class="sidebar-itembigdefault">
          <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

          <div class="text1">Change Flight</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
        <div class="sidebar-itembigdefault">
          <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

          <div class="text1">Management</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
        <div class="sidebar-itembigdefault">
          <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

          <div class="text1">Caddy Booking</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
        <div class="sidebar-itembigdefault3">
          <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

          <div class="text1">Merge Invoice</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
        <div class="sidebar-itembigdefault">
          <img class="icon24pxsettings" alt="" src="./assets/icon/setting.svg"/>
          <div class="text1">Setting</div>
          <img class="arrowlineright2-icon" alt=""/>
        </div>
      </div>
    <div class="sidebar-1">
      <div class="sidebar-itembigselected">
        <img class="icon24pxclock" alt="" src="./assets/icon/clock.svg"/>
        <div class="text">Dashboard</div>
      </div>
      <div class="sidebar-itembigdefault">
        <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

        <div class="text1">Reservation</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
      <div class="sidebar-itembigdefault">
        <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

        <div class="text1">Will Checkin</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
      <div class="sidebar-itembigdefault">
        <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

        <div class="text1">Driving Range</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
      <div class="sidebar-itembigdefault3">
        <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

        <div class="text1">List Golfer</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
      <div class="sidebar-itembigdefault">
        <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

        <div class="text1">Daily Golfer</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
      <div class="sidebar-itembigdefault">
        <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

        <div class="text1">Merge Group</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
      <div class="sidebar-itembigdefault">
        <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

        <div class="text1">Change Flight</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
      <div class="sidebar-itembigdefault">
        <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

        <div class="text1">Management</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
      <div class="sidebar-itembigdefault">
        <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

        <div class="text1">Caddy Booking</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
      <div class="sidebar-itembigdefault3">
        <img class="clock-icon" alt="" src="./assets/icon/clock.svg"/>

        <div class="text1">Merge Invoice</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
      <div class="sidebar-itembigdefault">
        <img class="icon24pxsettings" alt="" src="./assets/icon/setting.svg"/>
        <div class="text1">Setting</div>
        <img class="arrowlineright2-icon" alt=""/>
      </div>
    </div>
    <div class="sidebar-itembigdefault11">
      <img class="icon24pxsettings" alt="" src="./assets/icon/Log out.svg"/>
      <div class="text1">Logout</div>
      <img class="arrowlineright2-icon" alt=""/>
    </div>
    <div class="sidebar-itembigdefault12">
      <img class="clock-icon" alt="" src="./assets/icon/headphone.svg"/>
      <div class="text1">Support</div>
      <img class="arrowlineright2-icon" alt=""/>
    </div>
  </div>
  </nz-sider>
  <img class="muiten" alt="" src="./assets/icon/muiten.png" id="component111Icon"/>
  <div class="container">
    <div class="flex justify-center">
      <div class="instance-parent">
        <div class="rectangle-wrapper">
          <div class="instance-child"></div>
        </div>
        <div class="profile">
          <div class="hello-robert-parent">
            <div class="hello-robert">Hello Robert!</div>
            <div class="robertwarrengmailcom">robertwarren@gmail.com</div>
            <div class="div">+84 0123 456789</div>
            <div class="div1">24/08/2022</div>
            <img class="vector-icon" alt="" src="./assets/icon/vector.png"/>

            <img class="vector-icon1" alt="" src="./assets/icon/vector.png"/>

            <img class="vector-icon2" alt="" src="./assets/icon/vector.png"/>

            <img class="group-icon" alt="" src="./assets/icon/group.svg"/>

            <img class="group-icon1" alt="" src="./assets/icon/group.svg"/>

            <img class="group-icon2" alt="" src="./assets/icon/group.svg"/>
          </div>
          <div class="vector-smart-object2-01"></div>
          <img
            class="ellipse-1-copy-8-1" alt="" src="./assets/icon/ellipse-1-copy-8-1@2x.png"/>
          <div class="robert-warren">Robert Warren</div>
          <div class="golf-manager">Golf Manager</div>
        </div>
        <img class="dotsthreevertical-icon" alt="" src="./assets/icon/DotsThreeVertical.png"/>
        <nz-date-picker nzInline></nz-date-picker>
        <img class="group-child" alt="" src="./assets/icon/line-2.svg"/>
      </div>
      <div class="instance-group">
        <div class="rectangle-container">
          <div class="instance-child"></div>
        </div>
        <div class="button-parent">
          <div class="button">
            <div class="save">Save</div>
          </div>
          <div class="button1">
            <div class="cancel">Cancel</div>
          </div>
        </div>
        <div class="field">
          <div class="field-child"></div>
          <div class="kathie-nguyen">Robert</div>
          <div class="text-wrapper">
            <div class="text14">
              <div class="sat">First Name</div>
            </div>
          </div>
          <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
        </div>
        <div class="field1">
          <div class="field-child"></div>
          <div class="kathie-nguyen">Robertwarren@gmaill.com</div>
          <div class="text-wrapper">
            <div class="text14">
              <div class="sat">Email</div>
            </div>
          </div>
          <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
        </div>
        <div class="field2">
          <div class="field-child"></div>
          <div class="kathie-nguyen2">
            <span>+84 </span>
            <span class="span"> | 0123456789</span>
          </div>
          <div class="text-frame">
            <div class="text14">
              <div class="sat">Phone</div>
            </div>
          </div>
          <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
        </div>
        <div class="field3">
          <div class="field-child"></div>
          <div class="kathie-nguyen">Golf Manager</div>
          <div class="text-wrapper">
            <div class="text14">
              <div class="sat">Department</div>
            </div>
          </div>
          <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
        </div>

        <div class="field4">
          <div class="field-child"></div>
          <div class="kathie-nguyen">Viet Nam</div>
          <div class="text-wrapper">
            <div class="text14">
              <div class="sat">Default Language</div>
            </div>
          </div>
          <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
        </div>
        <div class="field5">
          <div class="field-child"></div>
          <div class="kathie-nguyen">Warren</div>
          <div class="text-wrapper">
            <div class="text14">
              <div class="sat">Last Name</div>
            </div>
          </div>
          <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
        </div>
        <div class="field6">
          <div class="field-child"></div>
          <div class="kathie-nguyen">Female</div>
          <div class="text-wrapper">
            <div class="text14">
              <div class="sat">Gender</div>
            </div>
          </div>
          <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
        </div>
        <div class="field7">
          <div class="field-child"></div>
          <div class="kathie-nguyen">24/08/2022</div>
          <div class="text-wrapper">
            <div class="text14">
              <div class="sat">Birthday</div>
            </div>
          </div>
          <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
        </div>
        <div class="field8">
          <div class="field-child"></div>
          <div class="kathie-nguyen">HCM city</div>
          <div class="text-wrapper">
            <div class="text14">
              <div class="sat">Address</div>
            </div>
          </div>
          <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
        </div>
        <div class="field9">
          <div class="field-child"></div>
          <div class="kathie-nguyen">Viet Nam Dong</div>
          <div class="text-wrapper">
            <div class="text14">
              <div class="sat">Default Currency</div>
            </div>
          </div>
          <img class="button-icon" alt="" src="./assets/icon/button@2x.png"/>
        </div>
        <div class="account-settings-title">Account Settings</div>
        <div class="title">Profile Settings</div>
        <div class="flex breadcrumb">

          <div class="button2">
            <div class="label">Dashboard</div>
          </div>
          <div class="div33">/</div>
          <div class="button3">
            <div class="label">Account Setting</div>
          </div>
        </div>
        <div class="notifications">Notifications</div>
        <div class="receive-push-notifications flex"><label class="mt-px mr-1.5" nz-checkbox></label>
          <div>Receive push notifications</div>
        </div>
        <div class="send-email-notifications flex"><label class="mt-px mr-1.5" nz-checkbox></label>
          <div>Send email notifications</div>
        </div>
      </div>
    </div>

  </div>
  <div class="menu-header">
    <div class="flex mx-5 my-4 items-center justify-center">
      <img style="width: 149px; height: 37px" class="flex mr-8" alt="" src="./assets/icon/logo01-1@2x.png"/>
      <div class="mr-10 font-semibold	">Reception</div>
      <div class="mr-10 font-semibold	" id="menuText1">Caddy</div>
      <div class="mr-10 font-semibold	">Golf Operation</div>
      <div class="mr-10 font-semibold	">Management</div>
      <nz-divider class="vertical" nzType="vertical"></nz-divider>
      <img class="flex w-8" alt="" src="./assets/icon/dotsthreevertical@2x.png"/>
      <div class="px-1.5 flex">
        <span>Monday, </span>
        <span class="mr-1 font-semibold">19 August 2022 </span>
        <span> | 09:30:12 AM | </span>
        <img class="w-4 h-4 self-center mx-1" alt="" src="./assets/icon/heavyrainy-1@2x.png"/>
        <span class="mr-1">24°C |</span>
        <span>Hello </span>
        <span class="text-sky-500">Robert!</span>
      </div>
      <img class="w-6	h-6 mr-1.5" src="./assets/icon/Frame 27.png" alt=""/>
      <div style="border: 0.7px solid #0090e2;" class="flex rounded-lg">
        <div class="mx-2.5 flex">
          <div class="p-1.5 text-sky-600">WestLakes Golf & Villas</div>
          <img class="w-4 h-4 self-center" alt="" src="./assets/icon/icon--outlined--directions--chevron--left@2x.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
