.icon24pxclock,
.text {
  position: absolute;
  top: calc(50% - 9.5px);
}
.icon24pxclock {
  left: 14px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.text {
  left: 42px;
  line-height: 20px;
}
.sidebar-itembigselected {
  align-self: stretch;
  position: relative;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  color: #0090e2;
}
.clock-icon {
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;
  width: 24px;
  height: 24px;
}
.arrowlineright2-icon,
.text1 {
  position: absolute;
  top: calc(50% - 10px);
}
.text1 {
  left: 44px;
  line-height: 20px;
}
.arrowlineright2-icon {
  right: 12px;
  width: 20px;
  height: 20px;
  display: none;
}
.sidebar-itembigdefault,
.sidebar-itembigdefault3 {
  position: relative;
  border-radius: 8px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.sidebar-itembigdefault {
  align-self: stretch;
}
.sidebar-itembigdefault3 {
  width: 154px;
}
.icon24pxsettings {
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.sidebar-1 {
  position: absolute;
  width: calc(100% - 20px);
  top: 15px;
  right: 10px;
  left: 10px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-itembigdefault11,
.sidebar-itembigdefault12 {
  position: absolute;
  top: 870px;
  left: 10px;
  border-radius: 8px;
  width: 166px;
  height: 48px;
  overflow: hidden;
}
.sidebar-itembigdefault12 {
  top: 822px;
}
.sidebar {
  position: absolute;
  top: 90px;
  left: 0;
  border-radius: 0 30px 0 0;
  background: linear-gradient(180deg, #9ed000, #308700);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 162px;
  height: 100vh;
}
.muiten {
  position: absolute;
  top: 106px;
  left: 146px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: rotate(180deg);
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 24px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 776px;
}
.hello-robert {
  position: absolute;
  top: 20px;
  left: -1px;
  font-size: 24px;
  font-weight: 600;
}
.div,
.div1,
.robertwarrengmailcom {
  position: absolute;
  top: 305px;
  left: 56px;
}
.div,
.div1 {
  top: 350px;
}
.div1 {
  top: 394px;
  white-space: pre-wrap;
}
.group-icon,
.group-icon1,
.group-icon2,
.vector-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 3.59%;
  width: 5.88%;
  top: 63.73%;
  right: 85.49%;
  bottom: 32.68%;
  left: 8.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon,
.group-icon1,
.group-icon2,
.vector-icon1,
.vector-icon2 {
  top: 56.7%;
  bottom: 39.71%;
}
.group-icon,
.group-icon1,
.group-icon2,
.vector-icon2 {
  top: 49.67%;
  bottom: 46.73%;
}
.group-icon,
.group-icon1,
.group-icon2 {
  height: 0.24%;
  width: 1.8%;
  top: 66.35%;
  right: 87.54%;
  bottom: 33.41%;
  left: 10.66%;
}
.group-icon1,
.group-icon2 {
  top: 59.32%;
  bottom: 40.43%;
}
.group-icon2 {
  top: 52.3%;
  bottom: 47.46%;
}
.hello-robert-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 259.09px;
  height: 612px;
  text-align: left;
}
.vector-smart-object2-01 {
  position: absolute;
  top: 318px;
  left: 72.36px;
  width: 19.09px;
  height: 15px;
  overflow: hidden;
}
.ellipse-1-copy-8-1 {
  position: absolute;
  top: 76px;
  left: 68px;
  width: 140px;
  height: 140px;
  object-fit: cover;
}
.robert-warren {
  position: absolute;
  top: 234px;
  left: 75px;
  font-size: 18px;
  font-weight: 600;
}
.golf-manager {
  position: absolute;
  top: 256px;
  left: 100px;
  font-size: 12px;
}
.profile {
  position: absolute;
  top: 1px;
  left: 22px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  width: 259.09px;
}
.dotsthreevertical-icon {
  position: absolute;
  height: 4.12%;
  width: 10%;
  top: 2.45%;
  right: 1.88%;
  bottom: 93.43%;
  left: 88.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.august-2022 {
  position: relative;
  font-weight: 600;
}
.icons-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.sat {
  position: relative;
}
.month,
.month-parent {
  display: flex;
  flex-direction: row;
}
.month {
  width: 30px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.month-parent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 10px;
  color:rgba(151, 151, 151, 0.8);
}
.dateinactive,
.div2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  width: 20px;
  height: 15px;
  flex-shrink: 0;
}
.dateinactive {
  width: 30px;
  height: 30px;
  flex-direction: column;
}
.dateinactive-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.dateinactive18 {
  border-radius: 29px;
  background-color: #58b000;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dateactive {
  color: white;
}

.frame-parent {
  align-self: stretch;
  gap: 8px;
  font-size: 14px;
}
.calendar {
  position: absolute;
  top: 436px;
  left: 7px;
  border-radius: 8px;
  overflow: hidden;
  padding: 24px;
  gap: 22px;
  font-size: 16px;
}
.group-child {
  position: absolute;
  top: 435px;
  left: 22px;
  width: 275.94px;
  height: 1.33px;
  object-fit: contain;
}
.instance-parent {
  position: absolute;
  top: 90px;
  left: 1039px;
  width: 320px;
  height: 776px;
  text-align: center;
  font-size: 11px;
}
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 898px;
  height: 776px;
}
.save {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 16px);
  line-height: 22px;
}
.button {
  position: relative;
  border-radius: 8px;
  background-color: #58b000;
  width: 96px;
  height: 40px;
}
.cancel {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 23px);
  line-height: 22px;
}
.button1 {
  position: relative;
  border-radius: 8px;
  background-color: #E9E9E9;
  border: 0.8px solid #c1c1c1;
  box-sizing: border-box;
  width: 96px;
  height: 40px;
  color: black;
}
.button-parent {
  position: absolute;
  top: 657px;
  left: 349px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0;
  gap: 8px;
  text-align: center;
  color: white;
}
.field-child {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 19.42%;
  right: 0;
  bottom: 0.58%;
  left: 0;
  border: 0.5px solid black;
  box-sizing: border-box;
}
.kathie-nguyen {
  position: absolute;
  top: 20px;
  left: 15px;
  line-height: 22px;
}
.text-wrapper,
.text14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text14 {
  background-color: white;
  height: 17px;
  flex-direction: row;
  padding: 1px 8px 8px
  7px;
  box-sizing: border-box;
}
.text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  padding: 0 8px;
  font-size: 11px;
}
.button-icon {
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  border-radius: 8px;
  width: 28px;
  height: 28px;
  object-fit: contain;
}
.field,
.field1 {
  position: absolute;
  top: 91px;
  left: 20px;
  width: 416px;
  height: 56px;
}
.field1 {
  top: 162px;
}
.span {
  color: black;
}
.kathie-nguyen2 {
  position: absolute;
  top: 20px;
  left: 15px;
  line-height: 22px;
  white-space: pre-wrap;
}
.text-frame {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
  font-size: 11px;
  color: black;
}
.field2 {
  position: absolute;
  top: 233px;
  left: 20px;
  width: 416px;
  height: 56px;
  color: var(--book);
}
.field3,
.field4,
.field5,
.field6,
.field7,
.field8,
.field9 {
  position: absolute;
  top: 304px;
  left: 20px;
  width: 416px;
  height: 56px;
}
.field4,
.field5,
.field6,
.field7,
.field8,
.field9 {
  top: 435px;
}
.field5,
.field6,
.field7,
.field8,
.field9 {
  top: 91px;
  left: 462px;
}
.field6,
.field7,
.field8,
.field9 {
  top: 162px;
}
.field7,
.field8,
.field9 {
  top: 233px;
}
.field8,
.field9 {
  top: 304px;
}
.field9 {
  top: 435px;
}
.button2 {
  border-radius: px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  box-sizing: border-box;
}
.div33 {
  position: relative;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
}
.breadcrumb,
.button3 {
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button3 {
  border-radius: 8px;
  justify-content: center;
  padding: 4px 8px;
  box-sizing: border-box;
  color: black;
}

.title{
  position: absolute;
  top: 395px;
  left: 19px;
  font-size: 20px;
  font-weight: bold;
}

.account-settings-title{
  position: absolute;
  top: 25px;
  left: 19px;
  font-size: 20px;
  font-weight: bold;
}
.breadcrumb {
  position: absolute;
  top: 54px;
  left: 11px;
  justify-content: flex-start;
  gap: 4px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
.account-settings,
.notifications,
.profile-settings {
  position: absolute;
  top: 19px;
  left: 20px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
}
.account-settings,
.notifications {
  top: 390px;
}
.notifications {
  top: 521px;
}
.receive-push-notifications {
  position: absolute;
  top: 576px;
  left: 22.67px;
}
.instance-group,
.send-email-notifications {
  position: absolute;
  top: 619px;
  left: 22.67px;
}
.instance-group {
  top: 90px;
  left: 85px;
  width: 898px;
  height: 777px;
}
.account-setting-child,
.account-setting-item {
  position: absolute;
  top: 665.07px;
  left: 202px;
  border: 1.5px solid black;
  box-sizing: border-box;
  width: 15.33px;
  height: 15.33px;
}
.account-setting-item {
  top: 711.07px;
}

.menu-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 100%;
  height: 70px;
}
.account-setting {
  position: relative;
  background-color: #f4f4f4;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: black;
}

.container{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 70px;
}
